# Built application files
*.apk
*.ap_
*.aab

# Gradle files
.gradle/
build/

# Local configuration
local.properties

# IDEA
*.iml
.idea/workspace.xml
.idea/libraries
.idea/tasks.xml
.idea/gradle.xml
.idea/misc.xml
captures/

# Others
.externalNativeBuild
.cxx/
